:root {
  font-family: Arial, Helvetica, sans-serif;
  --background: #f0efeb;
  --primary: #20502e;
  --secondary: #6b8f71;
  --accent: #a3b18a;
  --btn-hover: #5A3E2B;
}
body {
  background-color: var(--background);
  color: var(--background);
  display: flex;
  justify-content: center;
}
.profile-card {
  background-color: var(--primary);
  width: 320px; /* fixed width */
  height: 425px; /* fixed height */
  border-radius: 10px;
  padding: 15px;
}

img {
  width: 150px;
  padding: 5px;
}

.headshot {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

#btn-lm {
  display: block;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
}

.hidden-info{
    display:none;
}

#btn-lm:hover{
    background-color: var(--btn-hover);
    color: var(--background);
}